/* CSS declarations go here */

html {
	margin: 10px;
  background-color: black;
}

body {
  background-color: black;
  color: #BBDEFB;
}

a {
  color: #2196F3;
}

a:hover, a:focus {
  color: #E3F2FD;
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: #BBDEFB;
}

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #BBDEFB;
    background-color: #333;
}

.navbar-nav > li > p {
  padding-left: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #BBDEFB;
}

.navbar-btn {
  margin-left: 15px;
}

.dropdown-menu {
  background-color: #333;
  color: #BBDEFB;
}

.dropdown-menu > li > a {
  color: #BBDEFB;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #333;
    text-decoration: none;
    background-color: #BBDEFB ;
}

.list-group-item {
  background-color: #454747;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li {
  width: 33%;
  padding-left: 0px;
  padding-right: 0px; 
  text-align: center;
}

.nav-tabs > li > a {
  background-color: transparent;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #333;
  color: #BBDEFB;
}

.nav-tabs > li > a:hover {
  background-color: rgba(51,51,51, 0.2);
  color: #BBDEFB;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: none;
  border-left: none;  
}

.panel {
  background-color: #333;
  color: #BBDEFB;
}

.panel-default > .panel-heading {
  background-color: #333;
  color: #BBDEFB;
}

.panel-group > h4, .panel-heading > h4 {
  color: #BBDEFB;
}

.panel-group > h4:hover, .panel-group > h4:focus, .panel-heading > h4:hover, .panel-heading > h4:focus{
  color: #2196F3;
}

.form-control {
  background-color: rgba(51, 51, 51, 0.8);
  color: #BBDEFB;
}

.btn-default {
  background-color: #333;
  color: #BBDEFB;
}

.btn-default:hover {
    color: #333;
    background-color: #BBDEFB;
    border-color: #adadad;
}

.progress {
  background-color: #BBDEFB;
}

.progress-bar {
  background-color: #64B5F6;
}

.modal-content {
  background-color: black;
  border: 1px solid #999;
}


.close {
  color:#BBDEFB;
  opacity: .8;
  }

.close:hover, .close:focus {
  color:#BBDEFB;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.btn-primary {
  background-color:#BBDEFB;
  color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn.focus {
  background-color:#2196F3;
  color: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.tab-content {
	padding: 10px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.tab-content tr:first-child td {
    margin-top: 10px;
}

.panel {
  margin-bottom: 4px;
}

td a { 
   display: block; 
   /*border: 1px solid black;*/
   padding: 3px; 
}

./*table th {
    border-top: 0px solid #555;
}
*/

/*.table-borderless tbody tr td,*/
/*.table-borderless tbody tr th,*/
.table-borderless thead tr th,
/*.table-borderless thead tr td,*/
/*.table-borderless tfoot tr th,*/
.table-borderless tfoot tr td {
    border: none;
}