/* CSS declarations go here */

html {
	margin: 10px;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.tab-content {
	padding: 10px;
}

td a { 
   display: block; 
   /*border: 1px solid black;*/
   padding: 3px; 
}

./*table th {
    border-top: 0px solid #555;
}
*/

/*.table-borderless tbody tr td,*/
/*.table-borderless tbody tr th,*/
.table-borderless thead tr th,
/*.table-borderless thead tr td,*/
/*.table-borderless tfoot tr th,*/
.table-borderless tfoot tr td {
    border: none;
}